@{
    ViewData["Title"] = "Invoices";
    Layout = "_Layout";
}
@model List<Invoice.DataTransferObject.DTOs.Invoice.GetInvoiceDTO>


<div class="row gap-3">

    <div class="card">
      
        <div class="card-body">
            <a class="btn btn-success" asp-controller="Employee" asp-action="Create">Add New</a>
            <div class="card-title">
                <h2>Employee Listing</h2>
            </div>
            
            <table class="table table-bordered table-striped" id='tbllist'>
                <thead class="bg-dark text-white">
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Role</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                @*@foreach(Global.Entity.Employee item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemdisplay=>item.Code)
                            @Html.HiddenFor(itemdisplay=>item.Code)
                        </td>
                          <td>
                            @Html.DisplayFor(itemdisplay=>item.Name)
                        </td>
                          <td>
                            @Html.DisplayFor(itemdisplay=>item.Email)
                        </td>
                          <td>
                            @Html.DisplayFor(itemdisplay=>item.Phone)
                        </td>
                          <td>
                            @Html.DisplayFor(itemdisplay=>item.Designation)
                        </td>
                        <td>
                            <a onclick="FunEdit(this)" class="btn btn-primary">Edit</a> | 
                            <a onclick="FunRemove(this)" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                }*@
                </tbody>

            </table>

        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">

<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        new DataTable('#tbllist');

    });

</script>
